{% extends "base.html" %}

{% block content %}
    <h1 class="text-center mb-4">Find Your Next Favorite Movie</h1>
    <form action="/search" method="POST" class="mb-5 text-center">
        <div class="input-group mx-auto" style="max-width: 500px;">
            <input type="text" name="query" class="form-control" placeholder="Search for a movie..." required>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        {% for movie in movies %}
        <div class="col">
            <div class="card h-100 shadow">
                <img src="{{ movie['Poster'] }}" class="card-img-top" alt="{{ movie['Title'] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ movie['Title'] }} ({{ movie['Year'] }})</h5>
                    <a href="{{ url_for('movie_details', title=movie['Title']) }}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}